<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <% let showUpdateBtn=true; %>
        <% let showLastUpdated=false; %>
            <%- include('header'); %>

                <% if(locals.user) {%>
                    <div class="img-div">
                        <img src="<%= locals.user.avatar %>" class="my-2 rounded mx-auto d-block" alt="...">
                    </div>
                    <%- include('_introSection',{title: 'Login Page' , loggedInUser:user,
                        org_user:user,showUpdateBtn,showLastUpdated}); %>
                        <% showUpdateBtn=true; %>
                            <% showLastUpdated=true; %>

                                <%- include('_addToy'); %>
                                    <%- include('_searchToy',{searchList}) %>

                                        <% if(searchList.length>0) {%>
                                            <h1>Search Results : </h1>
                                            <div id="toys-container"
                                                class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                                                <% searchList.forEach(element=> { %>

                                                    <% search_val=true %>
                                                        <%- include('_yourToys',{element,search_val}) %>
                                                            <% }) %>
                                            </div>
                                            <% } %>

                                                <% if(toysList.length>0) {%>
                                                    <div class="main-div">

                                                        <div class="left-div">
                                                            <h1>All Your Toys : </h1>
                                                            <div id="toys-container"
                                                                class="d-flex flex-row bd-highlight flex-box flex-wrap align-content-between mb-3">
                                                                <% toysList.forEach(element=> { %>


                                                                    <% search_val=false %>
                                                                        <%- include('_yourToys',{element,search_val}) %>
                                                                            <% }) %>
                                                            </div>
                                                            <% } %>
                                                        </div>

                                                    </div>
                                                    <% } else {%>
                                                        <div style="margin: auto; width: 50%; margin-top: 1rem; padding: 1rem;">
                                                            <img class="disp-img" src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/08/1487711891-lego-toy-sets.jpg" alt="" style="height: 100%; width: 100%;" >
                                                        </div>
                                                        <h1 class="heading">Our
                                                            BestSellers
                                                        </h1>
                                                        <div class="disp-div" style="height: auto; width: auto; display: flex; margin: 1rem; flex-wrap: wrap; gap: 1.5rem 1.5rem; padding: 2rem;">

                                                                
                                                                    <img src="https://static2.mumzworld.com/media/catalog/product/e/s/ess-sn003-essen-fidget-toys-set-30pc-1618519716.jpg"
                                                                    class="img-size img-hover" alt=""
                                                                    style="display:inline; position: relative; height: 80%; width: 30%;">
                                                                
                                                                    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
                                                                        class="img-size img-hover" alt=""
                                                                        style="display:inline; position: relative; height: 80%; width: 30%;">
                                                                    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
                                                                        class="img-size img-hover" alt=""
                                                                        style="display:inline; position: relative; height: 80%; width: 30%;">
                                                                    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
                                                                        class="img-size img-hover" alt=""
                                                                        style="display:inline; position: relative; height: 80%; width: 30%;">
                                                                    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
                                                                        class="img-size img-hover" alt=""
                                                                        style="display:inline; position: relative; height: 80%; width: 30%;">
                                                                    <img src="https://4.imimg.com/data4/UV/ET/MY-10683197/toy-kitchen-set-500x500.jpg"
                                                                        class="img-size img-hover" alt=""
                                                                        style="display:inline; position: relative; height: 80%; width: 30%;">
                                                               

                                                        </div>
                                                        <% } %>
                                                            <!-- <%- include('footer'); %> -->

                                                            <!-- JavaScript Bundle with Popper -->
                                                            <script
                                                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                                                                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                                                                crossorigin="anonymous">
                                                                </script>
</body>

</html>